/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

/* Project Section */
#projects {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#projects h2 {
    text-align: center;
    margin-bottom: 20px;
}

#project-list {
    margin-top: 20px;
}

.category {
    margin-bottom: 30px;
}

.category h3 {
    font-size: 2em;
    color: #007BFF;
    margin-bottom: 15px;
}

.project-list {
    list-style-type: none;
    padding: 0;
}

.project-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item a {
    font-size: 1.1em;
    color: #007BFF;
    text-decoration: none;
}

.project-item a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.contact {
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  font-size:1em;
  width: 100%;
  margin: 1rem;
}
.contact li {
  list-style:none;
}
.contact li a{
  text-decoration:none;
  color: white;
}

footer p {
    font-size: 0.9em;
}
button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}

button i {
  font-size: 24px; /* Adjust the size of the icon */
  margin-right: 8px;
}
body.dark-mode button {
  background-color: #444;
}

body.dark-mode button:hover {
  background-color: #666;
}


/* Mobile-Friendly Layout */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    #projects h2 {
        font-size: 1.5em;
    }

    .category h3 {
        font-size: 1.5em;
    }

    .project-item a {
        font-size: 1em;
    }
    .contact{
      flex-direction: column;
      justify-content: center;
      text-align: left;
    }

}


/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}


/* Dark mode header */
body.dark-mode header {
    background-color: #444;
}

.project-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode .project-item {
    background-color: #333;
    color: white;
}

.project-item a {
    font-size: 1.1em;
    color: #007BFF;
    text-decoration: none;
}

body.dark-mode .project-item a {
    color: #1e90ff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

body.dark-mode footer {
    background-color: #444;
}






