.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}
.project__title{
  text-align:center;
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.project__subtitle{
  text-align: center;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin-bottom: 1rem;
}

.pagination-web,.pagination-ai{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

button > svg {
  fill: var(--clr-rose);
  width: var(--size-2xl);
  transition: fill 0.3s ease, transform 0.3s ease;
}
button:disabled svg{
  fill: var(--clr-rose);
  opacity: 0.4;
}
button:hover svg {
  transform: scale(1.2);
}

.project__list-ai,.project__list-web{
  width: 100%;
  max-width: 65ch;
}

.project__item:not(:last-child){
  margin-bottom: 1rem;
}

.project__item{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.project__item > p{
  font-size: var(--size-base);
  color: var(--clr-slate600);
}

/*xs*/
@media (min-width: 475px) {
.project__title{
  font-size: var(--size-3xl);
}
.project__subtitle{
  font-size: var(--size-lg);
}

}

/* sm */
/*@media (min-width: 640px) {*/
/*}*/

/* md */
/*@media (min-width: 768px) {*/
/*}*/

/* lg */
@media (min-width: 1024px) {
  .project__title{
    font-size: var(--size-4xl);
  }
  .project__item > p{
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .project__title{
    font-size: var(--size-5xl);
  }
}

/* 2xl */
/*@media (min-width: 1536px) {*/
/*}*/
